<html>
    <head>
        <style>
            body{
                background-color: green;
            }
        </style>
    <title>Survey</title>
    </head>
    
    <body>
    <h1> Match Maker!</h1>
        
    
        
        
            
        
    <form method="POST">
        Enter Name:<br>
        <input type="text" name="input"><br>
        <input type="submit" name="operation" value="survey" > Begin survey <br>
        <input type="submit" name="operation" value="match"  > View Matches <br>
        
    </form>
     
    
    </body>



</html>