<html>
    <head>
        <style>
            body{
                background-color: yellow;
            }
        </style>
    <title>Match Maker</title>
    </head>
    
    <body>
    <h1> Matcher Results</h1>
        
        
        
        <html>
    <head>
        
    <title>Survey</title>
    </head>
    
    <body>
    
        
        <h2>Your Matches</h2>
    <a href="/">Back to Home Page</a>

       <h2> <%= matches %></h2> 
        
            
   
    
    
    </body>



</html>
        
            
        
   
        
    
    </body>



</html>